body {
  background-image: url("../../media/more-leaves-on-green.png");
  background-repeat: repeat;
}

.flexbox-container {
  display: flex;
  /*this will will display all the child flexboxes in the parent container and will put each next to each other. */
  /* background-color: wheat; */
  /* flex-direction: row-reverse or column  */
  /* this will make your flexbox into a column. it is horizontal by default */
  /* justify-content: center; space-between; space-around space-evenly this defines how the browser distrubutes space between and around elements in the flex container. esssentially its adding space between each child container in the parent flexbox; */ 
  /* align-items: flex-start, flex-end, stretch; center
  this allows us to take our children and align them vertically stretch doesnt work if you have a height on the child element in the case of this three column container its moving elements either to the start, end or center of each child flexbox */
  flex-wrap: wrap;
  /* this will make your content wrap to the next line, however you will need to make the content take up the entire width of the parent in each child  */
  /* align-content: flex-start; */
  /* flex-flow: row wrap; */
  /* this combines the the direction of the flex and the wrapping. */ */
}

