body {
    background-image: url("../media/more-leaves-on-green.png");
    background-repeat: repeat;
}

.header1{
    color:rgb(77, 16, 134);
    /* background: white; */
    font-family: fantasy;
    font-size: 100px;
    margin-bottom: 5px;
}

.flexbox-container {
    display: flex;
    background-color: wheat;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column {
    background-color: aqua;
}

.d20image {
    width: 350px;
    /* display: inline-block; */
    border-radius: 50%;
    border-width: 5px, black; 
    border-style: solid;
    /* display: 
     */
} 

.right-column {
    background-color: brown;
    /* order: 1; */
    /* this will re order the child columns, 1 is the largest value (0 is on each child by default) so it moves this column to the right */
    flex-grow: 1; 
    /* this will grow the column to take all the available space in the parent container. use flex grow on multiple children to grow them to the size of the parent container flex-shrink is the opposite of this. Flex-basis add a default width in pixels.
    flex combines flex grow, shrink, and basis, and uses two number values and auto so itll look like flex: 1, 0, 200px; with flex wrap this can be */
}

 h2 {
    color: green; 
    margin-top: 5px;

} 

.drunkWord:hover {
    color: red;
    text-decoration: underline;
    
}

.flexbox-for-button {
    background-color: blueviolet;
    flex-direction: row-reverse;
}


.btn {
    color: yellowgreen;
    background-color: black;
    margin-left: 5px;
    border: 2px, thick;
   /* height: 35px; */
    border-radius: 20px;
    cursor: pointer;
    border-width: 3px;
    border-color: gray;
    border-style: solid;
    transition: opacity 3s,
        color 1s;
    box-shadow: 20px 5px 10px rgba(0,0,0 0.15); 
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
   /* vertical-align: top; by default the browser aligns text to text, this overrides that  */
   font-family: fantasy;
   font-size: 30px;
   font-weight: bold;
   text-align: center;

}

.btn:hover {
    background-color: darkgreen;
    color: red;
    opacity: 0.1;
    
}
.btn:active {
    background-color: white;
}

.far-right-column {
    background-color: grey;

}


.flexbox-container-two {
    /*height: 200px; */
    /* this will fuck the parent container up if you change the screen size. */
    display: flex;
    background-color: wheat;
    /* justify-content: center; /*
    /* the justify content moves the elements in the flexbox. center flex=left is default, center is center, and flex-end is on the right. */
    justify-content: space-between; 
    /* this is adding space between for each element also can use space-around or space-evenly */
    align-items: center;
    flex-wrap: wrap;
    /* if the screen gets smaller, the content will dynamically move */
    margin-top: 20px;
   /* flex-direction: column; */
}

.dnd-dragons {
    width: 200px;
    height: 112.5px;
}

.dnd-dragons-2 {
    width: 200px;
    height: 112.5px;
    margin-left: 10px;
    border-color: blueviolet;
    border-width: 20px;
}

.dragon-three {
    width: 200px;
    height: 112.5px;
}

.dragon-four {
    width: 200px;
    height: 112.5px;

}


.img2 {
    width: 450px;
    height: 450px

}



/* https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=developedbyed */

