body {
    background-image: url("../media/more-leaves-on-green.png");
    background-repeat: repeat;
}

.header1{
    color:rgb(77, 16, 134);
    /* background: white; */
    font-family: fantasy;
    font-size: 100px;
    margin-bottom: 5px;
}

.flexbox-container {
    display: flex;
    background-color: wheat;
    justify-content: center;
    flex-wrap: wrap;
}

.left-column {
    background-color: aqua;
}

.d20image {
    width: 350px;
    /* display: inline-block; */
    border-radius: 50%;
    border-width: 5px, black; 
    border-style: solid;
    /* display: 
     */
} 

.right-column {
    background-color: brown;
    margin-right: 100px;
}

 h2 {
    color: green; 
    margin-top: 5px;

} 

.drunkWord:hover {
    color: red;
    text-decoration: underline;
    te
}


.btn {
    color: yellowgreen;
    background-color: black;
    margin-left: 5px;
    border: 2px, thick;
   /* height: 35px; */
    border-radius: 20px;
    cursor: pointer;
    border-width: 3px;
    border-color: gray;
    border-style: solid;
    transition: opacity 3s,
        color 1s;
    box-shadow: 20px 5px 10px rgba(0,0,0 0.15); 
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
   /* vertical-align: top; by default the browser aligns text to text, this overrides that  */
   font-family: fantasy;
   font-size: 30px;
   font-weight: bold;
   text-align: center;
}
.btn:hover {
    background-color: darkgreen;
    color: red;
    opacity: 0.1;
    
}
.btn:active {
    background-color: white;
}

.flexbox-container-two {
    display: flex;
    background-color: wheat;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dnd-dragons {
    width: 100px;
}

.dnd-dragons-2 {
    width: 200px;
    height: 112.5px;
    margin-left: 10px;
    border-color: blueviolet;
    border-width: 20px;
}

.img2 {
    width: 450px;
    height: 450px

}

